body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.topbar {
    background-color: #2C3D50;
    margin: 0;
    padding: 1px 1px;
}
.container {
    width: 1150px;
    margin: auto;
}
.topbar-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 110px;
}
.btn {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.btn.btn-sm {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.btn.btn-lg {
    font-size: 20px;
    padding: 25px 40px 25px 40px;
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
}
.topmenu ul li a:hover {
    background-color: black;
}