body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7F4ED;
    margin: 0px;
    padding: 0px;
}
.topbar {
    border-bottom: 1px solid black;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.topbar-content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}
.logo {

}
.logo img {
    width: 115px;
}
.btn {
    display: inline-block;
    background-color: gray;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.btn-rounded {
    border-radius: 5px;    
}
.btn-rounded-xl {
    border-radius: 20px;    
}
.btn-dark {
    background-color: black;
}